@font-face { font-family: micrenc; src: url('micrenc.ttf'); }

body {
	font-family: micrenc
}

/*
@media (prefers-color-scheme: dark) {
	body {
		background: #0000ff
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #ff0000
	}
}
*/

@media (prefers-color-scheme: dark) {
	body {
		background: #000;
		color: white;
		width: 100%;
	}
	a:link {
		color: #00ff00;
		background-color: transparent;
	}
	a:visited {
		color: #00DD00;
		background-color: transparent;
	}
	a:hover {
		color: red;
		background-color: transparent;
		text-decoration: underline;
	}
	a:active {
		color: yellow;
		background-color: transparent;
		text-decoration: underline;
	}
}